name: Run Notebooks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_notebooks:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'  # Cambia a la versión de Python que necesites

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install jupyter nbconvert  # Asegúrate de instalar todas las dependencias necesarias

    - name: Run Notebooks
      run: |
        # Encuentra y ejecuta todos los notebooks en todas las subcarpetas
        find . -name "*.ipynb" -exec jupyter nbconvert --to notebook --execute "{}" --output-dir="{}-output" \;
