name: Run Notebooks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run_notebooks:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'  

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install jupyter nbconvert

    - name: Run Introduction Notebook
      run: |
        jupyter nbconvert --to notebook --execute "./01 - Introducci贸n/01 - Introducci贸n.ipynb" --output-dir="./01 - Introducci贸n/output"

    - name: Run Other Notebooks
      run: |
        for notebook in $(find . -name "*.ipynb" ! -name "01 - Introducci贸n.ipynb"); do
          jupyter nbconvert --to notebook --execute "$notebook" --output-dir="$(dirname "$notebook")/output"
        done
